<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216303773626-6guqpfm8r63vjbkk52gn6q1qpe76hrbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216303773626-6guqpfm8r63vjbkk52gn6q1qpe76hrbl</string>
	<key>API_KEY</key>
	<string>AIzaSyBJjtmiiMzSaWdPzkVccjQPoOpVFuOtHGc</string>
	<key>GCM_SENDER_ID</key>
	<string>216303773626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.runsApp</string>
	<key>PROJECT_ID</key>
	<string>runs-a291a</string>
	<key>STORAGE_BUCKET</key>
	<string>runs-a291a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216303773626:ios:308e6daa71771cbd8e5f83</string>
	<key>DATABASE_URL</key>
	<string>https://runs-a291a-default-rtdb.firebaseio.com</string>
</dict>
</plist>